div.modus-data-table .table {
  margin: 0;
  width: 100%;
  height: 100%;
}

div.modus-data-table > .container {
  padding: 0;
  width: 100%;
}

div.modus-data-table > .container.scrollable {
  overflow-y: auto;
}

div.modus-data-table th .modus-icons.material-icons.sorted,
.modus-icons.material-icons.unsorted {
  vertical-align: text-bottom;
  font-size: 1rem;
}

div.modus-data-table table thead.sticky-top tr {
  box-shadow: 0 1px 0 0 #b7b9c3, 0 -1px 0 0 #b7b9c3;
  border-bottom-width: 0;
  border-top-width: 0;
}

div.modus-data-table th .modus-icons.material-icons.unsorted {
  opacity: 0.5;
}

div.modus-data-table th .modus-icons.material-icons.unsorted:hover {
  opacity: 1;
}

.modus-table-pagination {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.modus-table-pagination li.page-item.p-0 > .page-link {
  padding: 0;
}

.modus-table-pagination li.page-item.p-0 .nav-link {
  padding: calc((2rem - 0.875rem) / 2) 0.75rem;
}

.modus-table-pagination li.page-item.p-0 .nav-item .dropdown-item {
  font-size: 0.875rem;
}

div.modus-data-table th .table-col-resizable {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
}

div.modus-data-table th .table-col-resizable:hover {
  background-color: #9bc2f7;
  cursor: ew-resize;
}
